html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
}
